services:
  whatsapp_go:
    # image: "aldinokemal2104/go-whatsapp-web-multidevice:v7.3.0" v7.3.1
    image: "aldinokemal2104/go-whatsapp-web-multidevice:v7.3.1"
    restart: 'always'
    # ports:
    #   - "3000:3000"
    environment:
      APP_PORT: 3000
      APP_DEBUG: false
      APP_OS: ${WHATSAPP_OS:-Chrome}
      APP_BASIC_AUTH: ${WHATSAPP_AUTH}

      # Database Settings
      DB_URI: "file:storages/whatsapp.db?_foreign_keys=on"
      DB_KEYS_URI: "file::memory:?cache=shared&_foreign_keys=on"

      # WhatsApp Settings
      # WHATSAPP_AUTO_REPLY: "Auto reply message"
      WHATSAPP_AUTO_MARK_READ: false
      WHATSAPP_WEBHOOK: https://webhook.site/07b69616-5943-4c7f-a8be-db4819df699e,https://webhook.site/09a38aff-d11a-4a38-a176-3f3efa0b5e8b
      WHATSAPP_WEBHOOK_SECRET: super-secret-key
      WHATSAPP_ACCOUNT_VALIDATION: true
      WHATSAPP_CHAT_STORAGE: true
    volumes:
      - whatsapp_data:/app/storages